@mixin button() {

}

@mixin textDecorationNone() {
  &:link {
    text-decoration: none;
          outline: none;
  }

  &:visited {
      text-decoration: none;
            outline: none;
  }

  &:hover {
      text-decoration: none;
            outline: none;
  }

  &:active {
      text-decoration: none;
      outline: none;
  }
  &:focus {
    outline: 0;
  }
}
@mixin course-style() {
  width: 50vw;
  height: 50vh;
  background-color: $course-background-color;
  color: $black;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid $black;

  &:link {
    text-decoration: none;
    color: $black;
  }
  &:visited {
    text-decoration: none;
    color: $black;

  }

  &:hover {
    text-decoration: none;
    color: $turquose;
  }

  &:active {
    text-decoration: none;
    color:$black;
  }

}
