// colors
$black: #171717;
$white: #f2f2f2;
$turquose: #40E0D0;

$home-text-color: $turquose;
$black-hover: #444343;

// background colors
$background-color: $white;
$course-background-color: $white;
$loginbutton-background-color: #f2f2f2;
$loginbutton-background-color-hover: $turquose;
//$login-background-color: linear-gradient(to bottom right, #7a7a7a, #cdcdcd);
$login-background-color: $white;

//shadow
$backshadow: 1px 4px 15px rgb(93, 93, 93);

//font sizes
$font-size-h2: 36px;
$font-size-h3: 28px;
$font-size-h1: 42px;
$font-size-p: 17px;
