/* line 1, ../sass/_nav.scss */
header {
  /* The side navigation menu */
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
}
/* line 3, ../sass/_nav.scss */
header .sidenav {
  height: 0;
  /* 100% Full-height */
  width: 100vw;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 20, ../sass/_nav.scss */
header .widthChange .sidenav {
  height: 100%;
}
/* line 25, ../sass/_nav.scss */
header .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* line 35, ../sass/_nav.scss */
header .sidenav a:hover {
  color: #40E0D0;
}
/* line 39, ../sass/_nav.scss */
header .hamburger-container {
  position: fixed;
  top: 10px;
  left: 10px;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
}
/* line 48, ../sass/_nav.scss */
header .hamburger-container .hamburger1, header .hamburger-container .hamburger2, header .hamburger-container .hamburger3 {
  width: 35px;
  height: 5px;
  background-color: #f2f2f2;
  margin: 6px 0;
  transition: 0.4s;
}
/* line 57, ../sass/_nav.scss */
header .change .hamburger1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #171717;
}
/* line 61, ../sass/_nav.scss */
header .change .hamburger2 {
  opacity: 0;
}
/* line 64, ../sass/_nav.scss */
header .change .hamburger3 {
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #171717;
}

/* line 1, ../sass/_login.scss */
.login {
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #7a7a7a, #cdcdcd);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 10, ../sass/_login.scss */
.login .formLogin {
  width: 35vw;
  height: 32vh;
  border-radius: 15px;
  box-shadow: 1px 2px 15px #5d5d5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
/* line 24, ../sass/_login.scss */
.login .formLogin input[type="text"], .login .formLogin input[type="password"] {
  width: 22vw;
  height: 50px;
  padding-left: 7px;
  margin-bottom: 10px;
}
/* line 32, ../sass/_login.scss */
.login .formLogin #submitLogin {
  border-radius: 16px;
  border: 0px;
  width: 120px;
  height: 45px;
  color: white;
  background-color: #171717;
}
/* line 42, ../sass/_login.scss */
.login .formLogin #submitLogin:hover {
  background-color: #444343;
  cursor: pointer;
}

/* line 1, ../sass/_home.scss */
.courses {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* line 10, ../sass/_home.scss */
.courses .uxu {
  width: 50vw;
  height: 50vh;
  background-color: #2d2d2d;
  color: white;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
/* line 34, ../sass/_mixins.scss */
.courses .uxu:link {
  text-decoration: none;
  color: white;
}
/* line 38, ../sass/_mixins.scss */
.courses .uxu:visited {
  text-decoration: none;
  color: white;
}
/* line 44, ../sass/_mixins.scss */
.courses .uxu:hover {
  text-decoration: none;
  color: #b4b4b4;
}
/* line 49, ../sass/_mixins.scss */
.courses .uxu:active {
  text-decoration: none;
  color: white;
}
/* line 15, ../sass/_home.scss */
.courses .ded {
  width: 50vw;
  height: 50vh;
  background-color: #2d2d2d;
  color: white;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
/* line 34, ../sass/_mixins.scss */
.courses .ded:link {
  text-decoration: none;
  color: white;
}
/* line 38, ../sass/_mixins.scss */
.courses .ded:visited {
  text-decoration: none;
  color: white;
}
/* line 44, ../sass/_mixins.scss */
.courses .ded:hover {
  text-decoration: none;
  color: #b4b4b4;
}
/* line 49, ../sass/_mixins.scss */
.courses .ded:active {
  text-decoration: none;
  color: white;
}
/* line 19, ../sass/_home.scss */
.courses .ded:hover {
  background-color: #2d2d2d;
  background-image: url("../resources/coding-bg.jpg");
  background-size: cover;
  color: white;
}
/* line 28, ../sass/_home.scss */
.courses .sco {
  width: 50vw;
  height: 50vh;
  background-color: #2d2d2d;
  color: white;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
/* line 34, ../sass/_mixins.scss */
.courses .sco:link {
  text-decoration: none;
  color: white;
}
/* line 38, ../sass/_mixins.scss */
.courses .sco:visited {
  text-decoration: none;
  color: white;
}
/* line 44, ../sass/_mixins.scss */
.courses .sco:hover {
  text-decoration: none;
  color: #b4b4b4;
}
/* line 49, ../sass/_mixins.scss */
.courses .sco:active {
  text-decoration: none;
  color: white;
}
/* line 32, ../sass/_home.scss */
.courses .pt {
  width: 50vw;
  height: 50vh;
  background-color: #2d2d2d;
  color: white;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
/* line 34, ../sass/_mixins.scss */
.courses .pt:link {
  text-decoration: none;
  color: white;
}
/* line 38, ../sass/_mixins.scss */
.courses .pt:visited {
  text-decoration: none;
  color: white;
}
/* line 44, ../sass/_mixins.scss */
.courses .pt:hover {
  text-decoration: none;
  color: #b4b4b4;
}
/* line 49, ../sass/_mixins.scss */
.courses .pt:active {
  text-decoration: none;
  color: white;
}
/* line 36, ../sass/_home.scss */
.courses .me {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 90px;
}
/* line 48, ../sass/_home.scss */
.courses .me:hover {
  text-decoration: none;
  color: dimgray;
}
/* line 54, ../sass/_home.scss */
.courses .course {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/* line 61, ../sass/_home.scss */
.login-button {
  width: 100px;
  height: 30px;
  font-size: 18px;
  border-radius: 50px;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
}
/* line 6, ../sass/_mixins.scss */
.login-button:link {
  text-decoration: none;
}
/* line 10, ../sass/_mixins.scss */
.login-button:visited {
  text-decoration: none;
}
/* line 14, ../sass/_mixins.scss */
.login-button:hover {
  text-decoration: none;
}
/* line 18, ../sass/_mixins.scss */
.login-button:active {
  text-decoration: none;
}
/* line 74, ../sass/_home.scss */
.login-button:hover {
  background-color: #bdbdbd;
}

/* line 79, ../sass/_home.scss */
.logout-button {
  width: 100px;
  height: 30px;
  font-size: 18px;
  border-radius: 50px;
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  position: fixed;
  bottom: 2vw;
  right: 10vw;
}
/* line 6, ../sass/_mixins.scss */
.logout-button:link {
  text-decoration: none;
}
/* line 10, ../sass/_mixins.scss */
.logout-button:visited {
  text-decoration: none;
}
/* line 14, ../sass/_mixins.scss */
.logout-button:hover {
  text-decoration: none;
}
/* line 18, ../sass/_mixins.scss */
.logout-button:active {
  text-decoration: none;
}
/* line 92, ../sass/_home.scss */
.logout-button:hover {
  background-color: #bdbdbd;
}

/* line 8, ../sass/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 12, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 22, ../sass/style.scss */
main {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  background-color: #fff;
}

/* line 29, ../sass/style.scss */
h1, h2, h3, h4, h5 {
  font-weight: 200;
}

/* line 33, ../sass/style.scss */
input, textarea {
  font-size: inherit;
}

/* line 37, ../sass/style.scss */
input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #bbb;
}

/* line 44, ../sass/style.scss */
label {
  display: block;
  margin-bottom: 20px;
}

/* line 50, ../sass/style.scss */
.faded {
  color: #bbb;
}

/* line 55, ../sass/style.scss */
.overview {
  display: flex;
  justify-content: space-around;
}
/* line 60, ../sass/style.scss */
.overview .list-wrapper {
  max-width: 20vw;
}
/* line 63, ../sass/style.scss */
.overview .list-wrapper .list-headers {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
/* line 67, ../sass/style.scss */
.overview .list-wrapper .list-headers a {
  color: black;
}
/* line 72, ../sass/style.scss */
.overview .list-wrapper .list {
  list-style-type: none;
  padding: 0px 0px 0px 15px;
  margin: 0px;
}
/* line 77, ../sass/style.scss */
.overview .list-wrapper .list a {
  color: black;
}

/* line 84, ../sass/style.scss */
.assignment {
  background-color: #f2f2f2;
}
