/* line 4, ../sass/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 8, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  color: #171717;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
}

/* line 20, ../sass/style.scss */
body::-webkit-scrollbar {
  width: 14px;
  background-color: #f2f2f2;
}
/* line 24, ../sass/style.scss */
body::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #40E0D0;
}

/* line 32, ../sass/style.scss */
main {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  background-color: #f2f2f2;
}

/* line 39, ../sass/style.scss */
h1, h2, h3, h4, h5 {
  font-weight: 200;
}

/* line 43, ../sass/style.scss */
.fadeInLeft, .fadeOnLoad {
  opacity: 0;
  margin-left: -300px;
  max-width: 100%;
}

/* line 50, ../sass/style.scss */
.faded {
  color: #bbb;
}

/* line 1, ../sass/_nav.scss */
header {
  /* The side navigation menu */
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
}
/* line 3, ../sass/_nav.scss */
header .sidenav {
  height: 100vh;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 20, ../sass/_nav.scss */
header .widthChange .sidenav {
  width: 100%;
}
/* line 25, ../sass/_nav.scss */
header .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 45px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* line 35, ../sass/_nav.scss */
header .sidenav a:hover {
  color: #40E0D0;
}
/* line 39, ../sass/_nav.scss */
header .hamburger-container {
  position: fixed;
  top: 10px;
  left: 10px;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
}
/* line 48, ../sass/_nav.scss */
header .hamburger-container .hamburger1, header .hamburger-container .hamburger2, header .hamburger-container .hamburger3 {
  width: 35px;
  height: 5px;
  background-color: #171717;
  margin: 6px 0;
  transition: 0.4s;
}
/* line 60, ../sass/_nav.scss */
header .change .hamburger1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #171717;
}
/* line 64, ../sass/_nav.scss */
header .change .hamburger2 {
  opacity: 0;
}
/* line 67, ../sass/_nav.scss */
header .change .hamburger3 {
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #171717;
}

/* line 1, ../sass/_login.scss */
.login {
  padding: 0;
  height: 100%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 10, ../sass/_login.scss */
.login .formLogin {
  width: 35vw;
  height: 32vh;
  border-radius: 15px;
  box-shadow: 1px 4px 15px #5d5d5d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
/* line 22, ../sass/_login.scss */
.login .formLogin input[type="text"], .login .formLogin input[type="password"] {
  width: 22vw;
  height: 50px;
  padding-left: 7px;
  margin-bottom: 10px;
}
/* line 30, ../sass/_login.scss */
.login .formLogin #submitLogin {
  border-radius: 16px;
  border: 0px;
  width: 120px;
  height: 45px;
  color: white;
  background-color: #171717;
}
/* line 6, ../sass/_mixins.scss */
.login .formLogin #submitLogin:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.login .formLogin #submitLogin:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.login .formLogin #submitLogin:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.login .formLogin #submitLogin:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.login .formLogin #submitLogin:focus {
  outline: 0;
}
/* line 40, ../sass/_login.scss */
.login .formLogin #submitLogin:hover {
  background-color: #40E0D0;
  cursor: pointer;
}

/* line 1, ../sass/_home.scss */
.courses {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* line 10, ../sass/_home.scss */
.courses .uxu {
  width: 50vw;
  height: 50vh;
  background-color: #f2f2f2;
  color: #171717;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #171717;
}
/* line 41, ../sass/_mixins.scss */
.courses .uxu:link {
  text-decoration: none;
  color: #171717;
}
/* line 45, ../sass/_mixins.scss */
.courses .uxu:visited {
  text-decoration: none;
  color: #171717;
}
/* line 51, ../sass/_mixins.scss */
.courses .uxu:hover {
  text-decoration: none;
  color: #40E0D0;
}
/* line 56, ../sass/_mixins.scss */
.courses .uxu:active {
  text-decoration: none;
  color: #171717;
}
/* line 15, ../sass/_home.scss */
.courses .ded {
  width: 50vw;
  height: 50vh;
  background-color: #f2f2f2;
  color: #171717;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #171717;
}
/* line 41, ../sass/_mixins.scss */
.courses .ded:link {
  text-decoration: none;
  color: #171717;
}
/* line 45, ../sass/_mixins.scss */
.courses .ded:visited {
  text-decoration: none;
  color: #171717;
}
/* line 51, ../sass/_mixins.scss */
.courses .ded:hover {
  text-decoration: none;
  color: #40E0D0;
}
/* line 56, ../sass/_mixins.scss */
.courses .ded:active {
  text-decoration: none;
  color: #171717;
}
/* line 18, ../sass/_home.scss */
.courses .ded:hover {
  background-color: #f2f2f2;
  background-image: url("../resources/coding-bg.jpg");
  background-size: cover;
}
/* line 27, ../sass/_home.scss */
.courses .sco {
  width: 50vw;
  height: 50vh;
  background-color: #f2f2f2;
  color: #171717;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #171717;
}
/* line 41, ../sass/_mixins.scss */
.courses .sco:link {
  text-decoration: none;
  color: #171717;
}
/* line 45, ../sass/_mixins.scss */
.courses .sco:visited {
  text-decoration: none;
  color: #171717;
}
/* line 51, ../sass/_mixins.scss */
.courses .sco:hover {
  text-decoration: none;
  color: #40E0D0;
}
/* line 56, ../sass/_mixins.scss */
.courses .sco:active {
  text-decoration: none;
  color: #171717;
}
/* line 32, ../sass/_home.scss */
.courses .pt {
  width: 50vw;
  height: 50vh;
  background-color: #f2f2f2;
  color: #171717;
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #171717;
}
/* line 41, ../sass/_mixins.scss */
.courses .pt:link {
  text-decoration: none;
  color: #171717;
}
/* line 45, ../sass/_mixins.scss */
.courses .pt:visited {
  text-decoration: none;
  color: #171717;
}
/* line 51, ../sass/_mixins.scss */
.courses .pt:hover {
  text-decoration: none;
  color: #40E0D0;
}
/* line 56, ../sass/_mixins.scss */
.courses .pt:active {
  text-decoration: none;
  color: #171717;
}
/* line 37, ../sass/_home.scss */
.courses .me {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171717;
  font-size: 90px;
  border: 4px solid #171717;
}
/* line 50, ../sass/_home.scss */
.courses .me:hover {
  color: #40E0D0;
}
/* line 55, ../sass/_home.scss */
.courses .course {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

/* line 62, ../sass/_home.scss */
.login-button {
  width: 120px;
  height: 45px;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid #171717;
  background-color: #f2f2f2;
  color: #171717;
  text-align: center;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 6, ../sass/_mixins.scss */
.login-button:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.login-button:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.login-button:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.login-button:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.login-button:focus {
  outline: 0;
}
/* line 79, ../sass/_home.scss */
.login-button:hover {
  background-color: #40E0D0;
  color: #f2f2f2;
  border: 0;
}

/* line 85, ../sass/_home.scss */
.logout-button {
  width: 120px;
  height: 45px;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid #171717;
  background-color: #f2f2f2;
  color: #171717;
  position: fixed;
  bottom: 2vw;
  right: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 6, ../sass/_mixins.scss */
.logout-button:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.logout-button:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.logout-button:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.logout-button:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.logout-button:focus {
  outline: 0;
}
/* line 101, ../sass/_home.scss */
.logout-button:hover {
  background-color: #40E0D0;
  color: #f2f2f2;
  border: 0;
}

/* line 1, ../sass/_pages.scss */
.backButton {
  position: fixed;
  top: 10px;
  right: 10px;
  border: 0;
  background-color: #f2f2f2;
  color: #171717;
}
/* line 6, ../sass/_mixins.scss */
.backButton:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.backButton:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.backButton:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.backButton:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.backButton:focus {
  outline: 0;
}
/* line 11, ../sass/_pages.scss */
.backButton:hover {
  color: #40E0D0;
  cursor: pointer;
}

/* line 17, ../sass/_pages.scss */
.pageButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 0;
  background-color: #f2f2f2;
}
/* line 6, ../sass/_mixins.scss */
.pageButton:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.pageButton:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.pageButton:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.pageButton:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.pageButton:focus {
  outline: 0;
}
/* line 26, ../sass/_pages.scss */
.pageButton:hover {
  color: #40E0D0;
  cursor: pointer;
  border: 0;
}

/* line 33, ../sass/_pages.scss */
.addButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 0;
  color: #171717;
}
/* line 6, ../sass/_mixins.scss */
.addButton:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.addButton:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.addButton:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.addButton:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.addButton:focus {
  outline: 0;
}
/* line 42, ../sass/_pages.scss */
.addButton:hover {
  color: #40E0D0;
  cursor: pointer;
  border: 0;
}

/* line 50, ../sass/_pages.scss */
.assignmentPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
/* line 58, ../sass/_pages.scss */
.assignmentPage h1 {
  font-size: 42px;
  margin-bottom: 20px;
}
/* line 63, ../sass/_pages.scss */
.assignmentPage .assignment {
  width: 70vw;
  box-shadow: 1px 4px 15px #5d5d5d;
  background-color: #f2f2f2;
  margin-bottom: 35px;
  padding: 25px 40px;
  display: flex;
}
/* line 72, ../sass/_pages.scss */
.assignmentPage .assignment .assignmentLeft {
  position: relative;
  width: 50%;
}
/* line 76, ../sass/_pages.scss */
.assignmentPage .assignment .assignmentLeft img {
  width: 90%;
}
/* line 81, ../sass/_pages.scss */
.assignmentPage .assignment .assignmentRight {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}
/* line 87, ../sass/_pages.scss */
.assignmentPage .assignment .assignmentRight h2 {
  font-weight: bold;
  font-size: 36px;
}
/* line 92, ../sass/_pages.scss */
.assignmentPage .assignment .assignmentRight a {
  width: 70px;
  margin-left: auto;
  margin-top: auto;
  align-self: flex-end;
}
/* line 97, ../sass/_pages.scss */
.assignmentPage .assignment .assignmentRight a .pdfImg {
  width: 100%;
}
/* line 99, ../sass/_pages.scss */
.assignmentPage .assignment .assignmentRight a .pdfImg:hover {
  opacity: 0.8;
}
/* line 105, ../sass/_pages.scss */
.assignmentPage .assignment .assignmentRight .editButton {
  position: absolute;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  padding-left: 10px;
  color: #f2f2f2;
  right: -65px;
  bottom: -45px;
}
/* line 6, ../sass/_mixins.scss */
.assignmentPage .assignment .assignmentRight .editButton:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.assignmentPage .assignment .assignmentRight .editButton:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.assignmentPage .assignment .assignmentRight .editButton:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.assignmentPage .assignment .assignmentRight .editButton:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.assignmentPage .assignment .assignmentRight .editButton:focus {
  outline: 0;
}
/* line 120, ../sass/_pages.scss */
.assignmentPage .assignment .assignmentRight .editButton:hover {
  background-color: #40E0D0;
}
/* line 128, ../sass/_pages.scss */
.assignmentPage .dedpage {
  width: 50vw;
}
/* line 131, ../sass/_pages.scss */
.assignmentPage .dedpage div {
  margin-bottom: 20px;
}
/* line 133, ../sass/_pages.scss */
.assignmentPage .dedpage div img {
  width: 200px;
  margin-bottom: 20px;
}
/* line 138, ../sass/_pages.scss */
.assignmentPage .dedpage div .xd {
  width: 400px;
  margin-bottom: 20px;
}

/* line 1, ../sass/_adminpanel.scss */
.overview {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
}
/* line 7, ../sass/_adminpanel.scss */
.overview .list-wrapper {
  max-width: 20vw;
}
/* line 11, ../sass/_adminpanel.scss */
.overview .list-wrapper .list-headers {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 36px;
}
/* line 16, ../sass/_adminpanel.scss */
.overview .list-wrapper .list-headers a {
  color: #171717;
}
/* line 6, ../sass/_mixins.scss */
.overview .list-wrapper .list-headers a:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.overview .list-wrapper .list-headers a:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.overview .list-wrapper .list-headers a:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.overview .list-wrapper .list-headers a:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.overview .list-wrapper .list-headers a:focus {
  outline: 0;
}
/* line 19, ../sass/_adminpanel.scss */
.overview .list-wrapper .list-headers a:hover {
  color: #40E0D0;
}
/* line 26, ../sass/_adminpanel.scss */
.overview .list-wrapper .list {
  list-style-type: none;
  padding: 0px 0px 0px 15px;
  margin: 0px;
}
/* line 32, ../sass/_adminpanel.scss */
.overview .list-wrapper .list li a {
  font-size: 17px;
  color: #171717;
}
/* line 6, ../sass/_mixins.scss */
.overview .list-wrapper .list li a:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.overview .list-wrapper .list li a:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.overview .list-wrapper .list li a:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.overview .list-wrapper .list li a:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.overview .list-wrapper .list li a:focus {
  outline: 0;
}
/* line 36, ../sass/_adminpanel.scss */
.overview .list-wrapper .list li a:hover {
  color: #40E0D0;
}

/* line 1, ../sass/_forms.scss */
.forms {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
/* line 10, ../sass/_forms.scss */
.forms h2 {
  margin-bottom: 20px;
}
/* line 14, ../sass/_forms.scss */
.forms .addAssignment, .forms .editAssignment {
  width: 35vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 1px 4px 15px #5d5d5d;
}
/* line 23, ../sass/_forms.scss */
.forms .addAssignment label, .forms .editAssignment label {
  display: block;
  margin-bottom: 20px;
}
/* line 28, ../sass/_forms.scss */
.forms .addAssignment input[type="text"], .forms .addAssignment textarea, .forms .editAssignment input[type="text"], .forms .editAssignment textarea {
  width: 30vw;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #171717;
}
/* line 36, ../sass/_forms.scss */
.forms .addAssignment label[for="vak"]:first-child, .forms .editAssignment label[for="vak"]:first-child {
  margin-left: 0px;
}
/* line 40, ../sass/_forms.scss */
.forms .addAssignment input[type="radio"], .forms .editAssignment input[type="radio"] {
  margin-right: 2px;
  margin-left: 3px;
  -webkit-transform: scale(1.5);
  /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
/* line 47, ../sass/_forms.scss */
.forms .addAssignment .formSubmit, .forms .editAssignment .formSubmit {
  width: 120px;
  height: 45px;
  border: 1px solid #171717;
  background-color: #f2f2f2;
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 6, ../sass/_mixins.scss */
.forms .addAssignment .formSubmit:link, .forms .editAssignment .formSubmit:link {
  text-decoration: none;
  outline: none;
}
/* line 11, ../sass/_mixins.scss */
.forms .addAssignment .formSubmit:visited, .forms .editAssignment .formSubmit:visited {
  text-decoration: none;
  outline: none;
}
/* line 16, ../sass/_mixins.scss */
.forms .addAssignment .formSubmit:hover, .forms .editAssignment .formSubmit:hover {
  text-decoration: none;
  outline: none;
}
/* line 21, ../sass/_mixins.scss */
.forms .addAssignment .formSubmit:active, .forms .editAssignment .formSubmit:active {
  text-decoration: none;
  outline: none;
}
/* line 25, ../sass/_mixins.scss */
.forms .addAssignment .formSubmit:focus, .forms .editAssignment .formSubmit:focus {
  outline: 0;
}
/* line 58, ../sass/_forms.scss */
.forms .addAssignment .formSubmit:hover, .forms .editAssignment .formSubmit:hover {
  background-color: #40E0D0;
  color: #f2f2f2;
  border: 0;
  cursor: pointer;
}
